.imag{
    width:50px;
    height:54px;
    border-radius: 50%;
}

.icon{
    width:23px;
    height:25px;
    cursor: pointer;
}
.box2{
    background-color: aliceblue;
    border-radius: 10px;
    /* z-index: -1; */
    position: relative;
}
.postbox{
   border:none;
}
.btnx{
    width:100px;
    height:33px;
    border-radius: 90%;
    position: absolute;
    right:0px;
    /* bottom: 1px; */
}
.postx{
  height:150px;
  z-index: 1;
}
.txt{
    width:300px;
}

@media(max-width:450px){
    .postx{
        height:180px;
        /* z-index: 1; */
        /* width:200px; */
      } 
      .txt{
        width:170px;
      }
      .box2{
        width:315px;
      }
      .btnx{
        width:80px;
        margin: 0px;;
      }

}