.box3{
    position: sticky;
    top:0;
    height: 100%;
    background-color:antiquewhite;
    border-radius: 10px;
}

.imagp{
    height:57px;
    width:53px;
    border-radius: 50%;
}
.btn2{
    width:110px;
    height: 34px;
    position: absolute;
    left: 2px;
}
.btndiv{
    position: relative;
}
.inp{
    width:280px;
    height: 39px;
    border: none;
    border-radius: 16px;
}